autopep8==2.0.2
beautifulsoup4==4.12.2
certifi==2023.7.22
charset-normalizer==3.2.0
commonmark==0.9.1
greenlet==2.0.2
idna==3.4
markdown-it-py==3.0.0
mdurl==0.1.2
playwright==1.37.0
pycodestyle==2.11.0
pyee==9.0.4
Pygments==2.16.1
requests==2.31.0
rich==13.5.2
soupsieve==2.4.1
toml==0.10.2
tomli==2.0.1
typing_extensions==4.7.1
urllib3==2.0.4
websockets==11.0.3
