aiofiles==25.1.0
aiohappyeyeballs==2.7.1
aiohttp==3.14.3
aiosignal==1.4.0
altgraph==0.17.5
annotated-doc==0.0.5
annotated-types==0.8.0
anyio==4.15.1
attrs==26.1.0
auto-py-to-exe==2.50.1
beautifulsoup4==4.15.0
bidict==0.24.1
bottle==0.13.4
bottle-websocket==0.2.9
certifi==2026.7.22
cffi==2.1.1
charset-normalizer==3.5.1
click==8.5.0
cloudscraper==1.2.71
cryptography==50.0.1
customtkinter==6.0.0
darkdetect==0.8.0
docutils==0.23
Eel==0.18.2
fastapi==0.141.1
frozenlist==1.8.0
future==1.0.0
gevent==26.9.0
gevent-websocket==0.10.1
greenlet==3.5.6
h11==0.16.0
httpcore==1.0.9
httptools==0.8.0
httpx==0.28.1
idna==3.20
ifaddr==0.2.0
importlib_resources==7.1.0
itsdangerous==2.2.0
Jinja2==3.1.6
lxml==6.1.3
lxml_html_clean==0.4.5
macholib==1.16.4
markdown2==2.5.5
MarkupSafe==3.0.3
multidict==6.9.0
nicegui==3.17.1
orjson==3.12.0
packaging==26.3
pillow==12.3.0
pip-review==1.3.0
playwright==1.63.0
propcache==0.5.4
proxy_tools==0.1.0
pscript==0.7.7
pycparser==3.0
pydantic==2.13.4
pydantic_core==2.46.4
pyee==13.0.1
Pygments==2.21.0
pyinstaller==6.22.3
pyinstaller-hooks-contrib==2026.7
pyobjc-core==12.2.2
pyobjc-framework-Cocoa==12.2.2
pyobjc-framework-Quartz==12.2.2
pyobjc-framework-Security==12.2.2
pyobjc-framework-UniformTypeIdentifiers==12.2.2
pyobjc-framework-WebKit==12.2.2
pyparsing==3.3.2
python-dotenv==1.2.3
python-engineio==4.14.0
python-multipart==0.0.32
python-socketio==5.17.0
pywebview==6.2.1
PyYAML==6.0.3
requests==2.34.2
requests-toolbelt==1.0.0
setuptools==84.0.0
simple-websocket==1.1.0
sniffio==1.3.1
soupsieve==2.9.2
starlette==1.6.0
tinycss2==1.5.1
typing-inspection==0.4.4
typing_extensions==4.16.0
urllib3==2.8.0
uvicorn==0.53.0
uvloop==0.22.1
vbuild==0.8.2
wait_for2==0.4.1
watchfiles==1.2.0
webencodings==0.6.1
websockets==17.1
wsproto==1.3.2
yarl==1.25.1
zope.event==6.2
zope.interface==8.6
